name: CI
on: pull_request
jobs:
  test:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: Brightspace/third-party-actions@actions/checkout
      - uses: Brightspace/third-party-actions@actions/setup-node
        with:
          node-version: '12'
      - name: Install dependencies
        run: npm install
      - name: Lint (JavaScript)
        run: npm run lint:eslint
      - name: Lint (Lit)
        run: npm run lint:lit
      - name: Unit Tests (SauceLabs)
        run: npm run test:sauce
        env:
          SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY_DESIRE2LEARN }}
          SAUCE_USERNAME: Desire2Learn
